.advantage {
    padding: 0 35px;
    
    .icon {
    display: block;
    margin-bottom: 30px;
    }
}

.advantage__title {
    margin-bottom: 51px;
    position: relative;
}

.advantage__title:before {
    content: "";
    position: absolute;
    width: 24px;
    height: 2px;
    background: #F47821;
    top: 55px;
}

@media screen and (max-width: 810px) {
    .advantage {
        width: 100%;
        text-align: center;
        
        .icon {
            margin: auto;
            margin-bottom: 30px;
        }
    }
    
    .advantage__title:before {
        display: none;
    }
}