.icon {
    background-position: 0 0;
    background-repeat: no-repeat;
    display: inline-block;

    &_wallet {
        background-image: url(../img/wallet.svg);
        width: 54px;
        height: 54px;
    }
    
    &_plus {
        background-image: url(../img/plus.svg);
        width: 14px;
        height: 14px;
    }
}