.purpose {
    padding: 60px 70px 60px 60px;
    background-color: #fff;
    border: 1px solid #EDEDED;
    
    &__title {
        color: #F47821;
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 0.04em;
    }
    
    &__text {
        font-size: 24px;
        padding-top: 12px;
        margin: 0;
    }
}

@media screen and (max-width: 620px) {
    .purpose {
        padding: 30px 35px 30px 30px;
    }
    
    .purpose__title {
        font-size: 10px;
    }
    
    .purpose__text {
        font-size: 16px;
    }
}