.section {    
    &__background {
        position: absolute;
        background: url(../img/image.png) 0 0/ cover no-repeat;
        -moz-background-size: 100%;
        -webkit-background-size: 100%;
        -o-background-size: 100%;
        background-size: 100%;
        left: 0;
        right: 0;
        height: 600px;
        z-index: 3;
    }
    
    &__title {
        text-align: center;
        margin: 0;
        padding: 120px 0 60px 0;
        
        &#{&}_color_white {
            color: #fff;
        }
    }
    
    &#{&}_bg_image {
        position: relative;
        z-index: 3;
    }
    
    &#{&}_bg_white {
        background-color: #fff;
    }
    
    &#{&}_bg_black {
        background-color: #161616;
    }
    
    &__container {
        margin: 0 auto;
        
        &#{&}_about {
            max-width: 773px;
            padding: 80px 0 100px 0;
        }
        
        &#{&}_purpose {
            max-width: 972px;
            position: relative;
            z-index: 5;
            margin-bottom: 80px;
        }
        
        &#{&}_advantage {
            max-width: 1180px;
            padding-bottom: 160px;
        }
        
        &#{&}_contacts {
            max-width: 575px;
            padding-bottom: 120px;
        }
    }
}

@media screen and (max-width: 800px) {
    .section__container {
        
        &#{&}_about {
            padding: 30px 0;
        }
        
        &#{&}_advantage {
            padding-bottom: 30px;
        }
        
            h2, p {
                margin-left: 20px;
                margin-right: 20px;
                text-align: center;
            }

            h2 {
                font-size: 40px;
            }

            p {
                font-size: 14px;
            }
    }
}

@media screen and (max-width: 810px) {
    .section__title {
        font-size: 30px;
        padding: 30px 0 60px 0;
    }
}






















